body {
	font-family : -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
	font-weight : 400;
	font-size   : 17px;
	color       : #333333;
}

ul {
	padding : 0;
}

li {
	list-style-type : none;
}

a {
	text-decoration: none;
	color: #d0021b;
}

.container {
	max-width : 1200px;
	margin    : 0 auto;
}

.languages {
	display         : -webkit-box;
	display         : -ms-flexbox;
	display         : flex;
	-webkit-box-pack : center;
	-ms-flex-pack : center;
	justify-content : center;
}

.languages li {
	margin      : 10px;
	font-weight : bold;
	cursor      : pointer;
}

.popular-list {
	display         : -webkit-box;
	display         : -ms-flexbox;
	display         : flex;
	-ms-flex-wrap       : wrap;
	flex-wrap       : wrap;
	-ms-flex-pack : distribute;
	justify-content : space-around;
}

.popular-item {
	margin     : 20px;
	text-align : center;
}

.popular-rank {
	font-size : 20px;
	margin    : 10px;
}

.space-list-items {
	margin-bottom : 7px;
}

.avatar {
	width         : 150px;
	border-radius : 50%;
}

.nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.nav li {
	margin-right: 15px;
}

.active {
	font-weight: bold;
}

.home-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex; 
	-webkit-box-orient: vertical; 
	-webkit-box-direction: normal; 
	-ms-flex-direction: column; 
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;

}

.button {
	color: #e6e6e6;
	background: #0a0a0a;
	border: none;
	font-size: 16px;
	border-radius: 3px;
	width: 200px;
	text-align: center;
	display: block;
	padding: 7px 0;
	margin: 10px auto;
}

.button:hover:enabled {
	background: -webkit-linear-gradient(#1a1a1a,#0a0a0a);
	background: linear-gradient(#1a1a1a,#0a0a0a);
	color: #fff;
	text-decoration: none;
}

.button:active {
	-webkit-transform: translateY(1px);
	transform: translateY(1px);
}